// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

.blog-table {
  margin-bottom: 1.5em;

  width: 100%;

  th {
    background-color: $base0;
    color: white;
    font-weight: bold;
  }

  th, td {
    padding: 10px;
    border: 1px solid #d4d4d4;
    vertical-align: top;
  }

  tr:nth-child(odd) {
    background-color: #f1f1f1;
  }

  &.goto-table {
    th:first-child {
      width: 30%;
    }
  }

  &.even {
    td {
      width: 50%;
    }
  }
}

.center {
  text-align: center;
}

.no-border {
  border: none;
}

// Fixing gist formatting
.gist .gist-data .line-data {
  font-size: 13px;
  padding: 0 !important;
  background-color: $pre-bg;
}

.gist-file {
  font-size: .8em !important;
}

table.lines {
  width: 100%;
}

html .gist .gist-file .gist-meta a[href*='#file'] {
  right: 0px;
}
// End Fixing gist formatting
