// Pixyll gives all `a` tags a background image.
// caption-link is used in gists. Share links is at the bottom of posts.
@mixin remove-background {
  background: none;
}

.code-highlight-caption-link {
  @include remove-background;

  &:hover {
    @include remove-background;
  }
}

.share-page {
  padding: $share-page-padding;
  border: $share-page-border;
  background-color: $share-page-bg-color;

  .share-links {
    display: inline;

    a {
      @include remove-background;

      &:hover {
        @include remove-background;
      }
    }
  }

}

.social-icons, .share-links {
  @mixin share-icon($color) {
    color: $color;

    &:hover {
      color: darken($color, 10%);
    }
  }

  .fa-rss {
    @include share-icon(#F49C52);
  }

  .fa-twitter {
    @include share-icon(#2AA3EF);
  }

  .fa-linkedin {
    @include share-icon(#4393CC);
  }

  .fa-facebook {
    @include share-icon(#4166B1);
  }

  .fa-hacker-news {
    @include share-icon(#ff6600);
  }


  a.fa {
    opacity: 1;
    margin-right: 5px;

    &:hover {
      opacity: 1;
    }
  }

}
